<html><head> <title>EB Flask Test To Generate Divergences Excel</title> </head>
    
    <body>>EB Flask Test To Generate Divergences Excel
    <ul>
        <li><a href="/">Home page</a>  </li>
        <li><a href="https://s3.amazonaws.com/tradeable/PLANTILLA_SIGNALS.xlsx">Excel Template</a>  </li>        
        <li><a href="/yahoo_api_historical_data">Download Stock Market from Yahoo Finance</a>  </li>
        <li><a href="/support_resistances">Generate S3 CSV with support and resistances to add to Excel file </a>  </li>
    </ul>    
    </body><html>